name: CI (lint & test)

on:
  push:
    branches:
      - "**"

jobs:
  lint_and_test:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip poetry
          poetry --version
          poetry install
      - name: Run pre-commit hooks
        run: |
          SKIP=autoupdate poetry run pre-commit run --all-files
      - name: Run pytest
        run: |
          poetry run pytest -v --cov=pytest_parametrize tests
